header article:nth-child(1){
	padding: 70px;
	/*ackground-color: #ccc;*/
	/*background-image: url("assets/css/img-sobre-nos.jpg");
	background-attachment: fixed;*/
}
header section h2{
	margin-top: 10px;
	padding: 40px;
}
.teste{
	background-image: url("assets/css/img-sobre-nos.jpg");
}
header section article p{
	padding: 20px 90px 0 50px;
}
header section article{
	display: flex;
	align-content: space-around;
}
header img{
	background-size: cover;
	max-width: 400px;
}
main article{
	margin-top: 10px;
	padding: 40px;
	background-color: #ccc;
	justify-content: center;
	align-content: center;
}
main article div h3{
	padding: 10px 20px;
}
main article div p{
	padding: 0 100px 0 40px;
}

.barra{
	width: 3px;
	height: 80px;
	background-color: #fff;
}
main section{
}
.card-img-top1{
	width: 90px;
	margin: 0 auto;
}

.card-img-top2{
	border-radius: 150px;
}